# PyQt5 is the binding for the Qt5 framework.
PyQt5>=5.15.0

# Used for making HTTP requests.
requests

# A popular SQL toolkit and Object-Relational Mapper.
SQLAlchemy

# For managing environment variables.
python-dotenv
